[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

flask = "*"
tqdm = "*"
toml = "*"
requests = "*"
pillow = "*"
numpy = "*"
isort = "*"
yapf = "*"
gevent = "*"
flask-cors="*"

[requires]

python_version = "3.5"


[dev-packages]

pylint = "*"
